# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Environment variables
.env

# OS
.DS_Store

# Local data
data/raw/*
data/processed/*

# Keep directories
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints/

# ML artifacts
artifacts/
models/